.header {
  height: 90px;
  width: 100%;
  background: rgb(165, 229, 238);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sections {   
  width: 50%;
}
.brandName {
  font-family: 'Nerko One', cursive;
  text-decoration: none;
  color: white;
  font-size: 55px;
  text-shadow: 0.3px 0.5px 2px black;
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
.navOption {
  margin-left: 5%;
  font-family: 'Archivo Black', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-shadow: 0.3px 0.5px 1px black;
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
.logout {
  border-style: none;
  background: none;
  cursor: pointer;
  margin-left: 10%;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0.3px 0.3px 4px 1px rgb(255, 255, 255);
}
.logouticon {
  color: white;
}